@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-de-fundo: #121212;
    --cor-de-texto: #e0e0e0;
    --cor-primaria: #1e3a8a;
    --cor-secundaria: #07409c;
    --cor-auxiliar: #d97706;
    --cor-de-fundo-card: #1f2937;
    --fonte: 'Inter', 'Arial', 'sans-serif';
    --transicao: all 0.3s ease;
}

body{
    font-family: var(--fonte);
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto); 
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--cor-secundaria);
}

header{
    background-color: var(--cor-de-fundo-card);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    margin-left: 2rem;
}

.nav-links a{
    color: var(--cor-de-texto);
    text-decoration: none;
    transition: var(--transicao);
}

.nav-links a:hover{
    color: var(--cor-secundaria);
}

main{
    margin-top: 5rem;
}

section{
    padding: 6rem 0;
}

.dev{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.dev-text h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: var(--cor-primaria);
}

.dev-text p{
    font-size: 1.23rem;
    margin-bottom: 2rem;
}

.btn-contato{
    background-color: var(--cor-primaria);
    text-decoration: none;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    transition: var(--transicao);
}

.btn-contato:hover{
    background-color: var(--cor-secundaria);
}

.dev-img{
    position: relative;
}

.imagem-perfil{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1 );
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: cover;
}

.habilidades-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
}

.hab-item{
    background-color: var(--cor-de-fundo-card);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    transition: var(--transicao);
}

.hab-item:hover{
    transform: translateY(-5px);
}

.hab-icon{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.projetos-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.projeto-card{
    background-color: var(--cor-de-fundo-card);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 1.5rem;
    transition: var(--transicao);
}

.projeto-card:hover{
    transform: translateY(-5px);
}

.titulo-projeto{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: var(--cor-secundaria);
}

.projeto-tags{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.projeto-tags span{
    background-color: var(--cor-auxiliar);
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 20px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

#habilidades{
    margin-bottom: 100px;
    margin-top: 100px;   
}

#projetos{
    margin-bottom: 100px;
    margin-top: 50px;
}

/* falta arrumar toda a área de ler mais sobre mim */

.titulo-mais{
    color: white;
}

footer{
    background-color: var(--cor-de-fundo-card);
    text-align: center;
    padding: 2rem 0;
}

.redes-sociais-footer{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 1rem;
}

.fa-brands{
    color: white;
    padding: 0.5rem;
    font-size: 25px;
}

.titulo-redes-sociais{
    font-size: 25px;
    color: var(--cor-de-texto);
    margin-bottom: 0.8rem;
}