@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --royal-blue-light: #1e3a8a;
    --royal-blue-dark: #07409c;
    --white: #e0e0e0;
    --background: #121212;
    --cor-de-fundo: #121212;
    --cor-de-texto: #e0e0e0;
    --cor-primaria: #1e3a8a;
    --cor-secundaria: #07409c;
    --cor-auxiliar: #d97706;
    --cor-de-fundo-card: #1f2937;
    --fonte: 'Inter', 'Arial', 'sans-serif';
    --transicao: all 0.3s ease;
}

body{
    width: 100%;
    font-family: var(--fonte);
    color: var(--cor-de-texto); 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--background);
}

header{
    /* height: 70px; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--cor-secundaria);
}

header{
    background-color: var(--cor-de-fundo-card);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.6875rem;
    padding: 1rem;
}

nav{    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav{
    justify-content: right;
}

.logo{
    padding: 10px 12px;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    }

.nav-links{
    color: var(--white);
    display: flex;
    list-style: none;
}

.nav-links li{
    margin-left: 2rem;
}

.nav-links a{
    color: var(--cor-de-texto);
    text-decoration: none;
    transition: var(--transicao);
}

.nav-links a:hover{
    color: var(--cor-secundaria);
}

main{
    margin-top: 5rem;
}

section{
    padding: 6rem 0;
}

.dev{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem;
    align-items: center;
}

#sobre{
    justify-content: space-around;
    flex-direction: column;
}

.dev-text h1{
    font-size: 3rem;
    margin-bottom: 1.2rem;
    color: var(--cor-primaria);
}

.dev-text p{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    align-items: center;
}

.btn-contato{
    background-color: var(--cor-primaria);
    text-decoration: none;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    transition: var(--transicao);
}

.btn-contato:hover{
    background-color: var(--cor-secundaria);
}

.dev-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.imagem-perfil{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1 );
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: cover;
}

.habilidades-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
}

.hab-item{
    background-color: var(--cor-de-fundo-card);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    transition: var(--transicao);
}

.hab-item:hover{
    transform: translateY(-5px);
}

.hab-icon{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.aviso{
    text-align: center;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding-bottom: 3rem;
}

.projetos-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.projeto-card{
    background-color: var(--cor-de-fundo-card);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 1.5rem;
    transition: var(--transicao);
}

.projeto-card:hover{
    transform: translateY(-5px);
}

.titulo-projeto{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: var(--cor-secundaria);
}

.projeto-tags{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.projeto-tags span{
    background-color: var(--cor-auxiliar);
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 20px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

#habilidades{
    padding-top: 80px;
    margin-bottom: 100px;
    margin-top: 100px;   
}

#projetos{
    padding-top: 80px;
    margin-bottom: 100px;
    margin-top: 50px;
}

#sobre{
    padding-top: 50px;
}


.ler-mais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    background: var(--cor-de-fundo-card);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 90%;
}

.container-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.titulo-mais {
    font-size: 2rem;
    color: var(--cor-de-texto);
    margin-bottom: 10px;
    border-bottom: 2px solid var(--cor-auxiliar);
    padding-bottom: 5px;
}

.titulo-nome {
    font-size: 2rem;
    color: var(--cor-de-texto);
    margin-bottom: 10px;
}

.apresentacao {
    font-size: 1.25rem;
    font-family: var(--fonte);
    color: var(--cor-de-texto);
    line-height: 1.6;
    text-align: justify;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}


footer{
    background-color: var(--cor-de-fundo-card);
    text-align: center;
    padding: 1.5rem 0;
}

.redes-sociais-footer{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 1rem;
}

.fa-brands{
    color: white;
    padding: 0.25rem;
    font-size: 25px;
}

.titulo-redes-sociais{
    font-size: 25px;
    color: var(--cor-de-texto);
    margin-bottom: 0.2rem;
}


#nome-logo{
    font-family: Oswald;
}




/* comeco do outro */

  a {
    color: var(--white);
    text-decoration: none;
  }
  
  /* .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--royal-blue-light);
    height: 4.6875rem;
    padding: 1rem;
  } */
  
  /* .logo{
    font-size: 1.5rem;
    font-weight: bold;
  } */
  
  .menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
  }
  
  .menu a  {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .menu a:hover {
    background: var(--royal-blue-dark);
  }
  
  .label-menu, 
  .checkbox {
    display: none;
  }
  
  @media (max-width: 600px) {

    footer{
        width: 104vw;
    }


    .header{
        width: 100%;    
    }
    
   

    .menu{
      display: block;
      position: absolute;
      top: 4.6875rem;
      left: 0;
      background: var(--cor-de-fundo-card);
      text-align: center;
      width: 100%;
      height: 0;
      z-index: 1;
      visibility: hidden;
      overflow-y: hidden;
      transition: 0.5s;
    }
    .menu a{
      padding: 1rem 0;
      margin-inline:  1rem;
      border-bottom: 0.0625rem solid white;
      border-radius: 0;
    }
    .label-menu {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: varq(--white);
      padding-block: 1rem;
      cursor: pointer;
    }
    .hamburger{
      border-top: 0.125rem solid;
      width: 1.25rem;
    }
    .hamburger::before,
    .hamburger::after{
      content: " ";
      display: block;
      width: 1.25rem;
      height: 0.125rem;
      background: currentColor;
      margin-top: 0.3125rem;
      position: relative;
      transition: 0.3s;
    }
    .checkbox:checked ~ .menu {
      height: 33vh;
      visibility: visible;
      overflow-y: auto;
    }
    .checkbox:checked ~ .label-menu .hamburger {
      border-top-color: transparent;
    }

    .checkbox:checked ~ .label-menu .hamburger::before{
      transform: rotate(135deg);
    }
    .checkbox:checked ~ .label-menu .hamburger::after{
      transform: rotate(-135deg);
      top: -0.4375rem;
    }
  }
  
  